.flexed{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 0px 25px;
    box-shadow: 0 0 8px rgba(0,0,0,0.15)
}

.flexed h3, .flexed p{
    padding : 0
}